<div class="question" >
  <div class="topic">
    <p>Q. <%= question.title %></p>
  </div>

  <div class="question-content">
    <p><%= simple_format(question.text) %></p><br />
    <p>投稿者: <%= link_to "#{question.user.nickname}", "/users/#{question.user.id}" %></p>
  </div>

  <div class="more">
    <ul>
      <li><%= link_to '削除', "/questions/#{question.id}", method: :delete %></li>
      <li><font color="#bebebe">回答: <%= question.answers.count %>件</font></li>
      <% if user_signed_in? && current_user.id == question.user_id %>
      <% end %>
  </div>

</div>