<div class="contents row">
  <% @questions.each do |question| %>
    <div class="content_post" style="background-image: url(http://frame-illust.com/fi/wp-content/uploads/2014/10/bea933d25fced143d8d358963c97cf90.png);">

        <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
            <% if user_signed_in? && current_user.id == question.user_id %>
              <li>
                <%= link_to '削除', "/questions/#{question.id}", method: :delete %>
              </li>
            <% end %>
            <li>
              <%= link_to '詳細', "/questions/#{question.id}" %>
            </li>
          </ul>
        </div>

      <p><b>■ 質問タイトル</b><%= simple_format(question.title) %></p>
      <p><b>■ 質問内容</b><%= simple_format(question.text) %></p>
      <span class="name">投稿者；<%= question.user.nickname %></span>

    </div>
    <br />
  <% end %>
  <%= paginate(@questions) %>
</div>