<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>TECH::HELPER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Unica+One::latin' ] }
    };
  </script>
</head>

<body>
<div class="wrapper">
  <header>
    <div class="heading">
      <h2><a href="/">TECH::HELPER</a></h2>
    </div>

    <div class="navbar">
     <% if user_signed_in? %>
          <ul>
            <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
            <li><a href="/questions/new"> 投稿する </a></li>
            <li><%= link_to " ログアウト ", destroy_user_session_path, method: :delete %></li>
          </ul>
      <% else %>
        <%= link_to 'ログインして質問を投稿', '/users/sign_in' %>
    <% end %>
    </div>
  </header>

  <div class="contents-wrapper">
    <%= yield %>
  </div>

  <footer>
  <p>
    Copyright TECH::HELPER 2017.
  </p>
  </footer>

</div>
</body>

</html>
