<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>TECH::HELPER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Unica+One::latin' ] }
    };
  </script>
</head>

<body>
<div class="wrapper">
  <header>
    <div class="heading">
    <a href="/">
      <div class="icon">
        <%= image_tag 'icon.png' %>
      </div>
      <div class="title">
       TECH::HELPER
      </div>
    </a>
    </div>

    <div class="navbar">
     <% if user_signed_in? %>
          <ul>
            <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
            <li><a href="/questions/new"> 投稿する </a></li>
            <li><%= link_to " ログアウト ", destroy_user_session_path, method: :delete %></li>
          </ul>
      <% else %>
        <%= link_to 'ログインして質問を投稿', '/users/sign_in' %>
    <% end %>
    </div>

    <div class="search">
      <%= form_tag('/questions/search', method: :get) do %>
        <input name="keyword" type="text" value=""><button class="btn-search" title="検索" type="submit">検索</button></input>
      <% end %>
    </div>

  </header>

    <%= yield %>

  <footer>
  <p>
    Copyright TECH::HELPER 2017.
  </p>
  </footer>

</div>
</body>

</html>
