<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>TECH::HELPER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Unica+One::latin' ] }
    };
  </script>
</head>

<body>
<div class="wrapper">
  <header>
    <div class="heading">
    <a href="/">
      <div class="icon">
        <%= image_tag 'icon.png' %>
      </div>
      <div class="title">
       TECH::HELPER
      </div>
    </a>
    </div>

    <div class="navbar">
     <% if user_signed_in? %>
          <ul>
            <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
            <li><a href="/questions/new"> 投稿する </a></li>
            <li><%= link_to " ログアウト ", destroy_user_session_path, method: :delete %></li>
          </ul>
      <% else %>
        <%= link_to 'ログインして質問を投稿', '/users/sign_in' %>
    <% end %>
    </div>

    <div class="search">
      <%= form_tag('/questions/search', method: :get) do %>
        <input name="keyword" type="text" value=""><button class="btn-search" title="検索" type="submit">検索</button></input>
      <% end %>
    </div>

  </header>

  <div class="contents-wrapper">
    <%= yield %>
    <div class="side-bar">

      <div class="side-bar-content">
        <div class="side-bar-title">
          未回答の質問　　　　　　　　[<%= link_to '一覧', '/questions/yet' %>]
        </div>
        <% if @yet %>
          <% @yet.each do |question| %>
            <p>Q. <%= link_to "#{question.title}", "/questions/#{question.id}" %></p>
          <% end %>
        <% end %>
      </div>

      <div class="side-bar-content">
        <div class="side-bar-title">
          カテゴリ
        </div>
        <p>Webアプリケーションコース</p>
        <p>エキスパートコース</p>
        <p>VRコース</p>
        <p>イナズマ一週間コース</p>
      </div>

      <div class="side-bar-content">
        <div class="side-bar-title">
          回答数ランキング
        </div>
        <p>1位: さやか さん</p>
        <p>2位: 美味しい牛乳 さん</p>
        <p>3位: みかん さん</p>
        <p>4位: コーンポタージュさん</p>
        <p>5位: yuimetalさん</p>
      </div>

    </div>
  </div>

  <footer>
  <p>
    Copyright TECH::HELPER 2017.
  </p>
  </footer>

</div>
</body>

</html>
